    # Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# Installer artifacts
*.egg-info/
dist/
build/

# OS-specific
.DS_Store
Thumbs.db

# IDE/editor specific
.vscode/
.idea/
*.swp
!.vscode/settings.json

# Test and debug
*.log
*.tmp
spirida_log.txt
